body {
  font-family: 'Montserrat', sans-serif;
  scroll:;
}

main {
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 920px) {
  body {
    background-image: url('/src/assets/images/body-shape.svg'), url('/src/assets/images/bg.jpg');
    background-repeat: no-repeat, repeat-x;
    background-position: right top;
  }
}
